#welcome-wrapper {
    position: relative;
    top: 10vh;
}

@media (max-width: 500px) {
    #welcome-wrapper { top: 2vh; }
}

#welcome-div {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    opacity: 0;
}

.input-field {
    margin-top: 3rem;
}

.input-field input {
    font-size: 1.5rem;
}
