@media (min-width: 992px) {
    #content {padding-left: 200px;}
}

.button-collapse {
    margin-left: 20px;
    cursor: pointer;
}

.property-img {
    height: 60vh;
    width: 100%;
    margin-bottom: 20px;
}

.map {
    border: 0;
    height: 60vh;
    min-height: 40vh;
    width: 100%;
}

@media (max-width: 500px) {
    .property-img, .map { height: auto; }
}

.property-img, .map, .card {
    visibility: hidden;
}

.card li {
    margin: 1rem auto;
}

.overview {
    font-size: 1.3rem;
}

.overview ul {
    margin: 0;
}

.zillow-img {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 20%;
    min-width: 100px;
    z-index: 1;
    pointer-events: none;
}

#row-charts h5 {
    text-align: center;
}

footer {
    font-size: 1.1rem;
    padding-top: 8px;
    padding-bottom: 5px;
}

footer .material-icons {
    vertical-align: middle;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#row-charts p.green, #row-charts p.red {
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    color: white;
}

#row-charts p.small {
    text-align: center;
    font-size: 0.65em;
}
