.property-img {
    height: 60vh;
    width: 100%;
    margin-bottom: 20px;
}

.map {
    border: 0;
    height: 60vh;
    min-height: 40vh;
    width: 100%;
}

@media (max-width: 500px) {
    .property-img, .map { height: auto; }
}

.property-img, .map, .card {
    visibility: hidden;
}

.card li {
    margin: 1rem auto;
}

.overview {
    font-size: 1.3rem;
}

.overview ul {
    margin: 0;
}

.zillow-img {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 20%;
    min-width: 100px;
    z-index: 1;
    pointer-events: none;
}

#row-charts h5 {
    text-align: center;
}
