body {
    /* Background pattern from subtlepatterns.com */
    background-image: url("/img/bg.png");
}

#content {
    margin-top: 30px;
}

.map {
    width: 100%;
    height: 50vw;
    border: 0;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
} 

.input-field input[type=text]:focus + label {
    color: #2196f3;
}

.input-field .prefix.active {
    color: #2196f3;
}

.material-icons {
    line-height: inherit !important;
}
.alert {
    padding: 15px;
    background-color: #F44336;
    color: white;
    border-radius: 3px;
    margin-top: 15px;
}
