body {
    /* Background pattern from subtlepatterns.com */
    background-image: url("/img/bg.png");
    background-attachment: fixed;
}

#content {
    margin-top: 30px;
    margin-bottom: 40px;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
} 

.input-field input[type=text]:focus + label, .input-field .prefix.active {
    color: #2196f3;
}

.material-icons {
    line-height: inherit !important;
    vertical-align: top;
}

.alert {
    padding: 15px;
    background-color: #F44336;
    color: white;
    border-radius: 3px;
    margin-top: 15px;
}
