{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ mapskey }}&libraries=places"></script>
    <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="welcome-wrapper">
        <div id="welcome-div">
            <h1 id="welcome-text" class="center-align">Welcome, Homie.</h1>
            <div class="row">
                <form action="info">
                    <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
                        <i class="material-icons prefix">search</i>
                        <input name="query" id="search" type="text" placeholder="" class="validate" required>
                        <label for="search">Enter a location</label>
                    </div>
                    <input type="submit" class="hide">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
