{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/info.css">
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".timeago").timeago();
    });
    </script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col s12 m12 l6"><img class="property-img" src="https://maps.googleapis.com/maps/api/streetview?location={{ lat }},{{ lng }}&size=350x300&key={{ mapkey }}" alt="property image"></div>
        <div class="col s12 m12 l6"><iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ place_id }}&key={{ mapkey }}" allowfullscreen></iframe></div>
    </div>
    <div class="card white overview">
        <div class="card-content">
            <span class="card-title">Overview</span>
            <ul>
                <li><strong>{{ overview.address.street }}<br>{{ overview.address.city }}, {{ overview.address.state }} {{ overview.address.zipcode }}</strong></li>
                <li><strong>{{ overview.bedrooms }} beds - {{ overview.bathrooms }} baths - {{ overview.sqft }} ft<sup>2</sup></strong></li>
                <li><strong>Zestimate&reg;:</strong> {{ overview.zestimate|format_money }}</li>
                <li><strong>Built:</strong> {{ overview.built }}</li>
                <li><strong>Last Sold:</strong> {{ overview.lastSold }}</li>
                <li><a href="{{ overview.zillow }}" target="_blank">More details on Zillow</a></li>
            </ul>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Public Services</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in services %}
                    <tr>
                        {% if item.type == "hospital" %}
                        <td><i class="tiny material-icons">local_hospital</i>&nbsp;&nbsp;Hospital</td>
                        {% elif item.type == "library" %}
                        <td><i class="tiny material-icons">book</i>&nbsp;&nbsp;Public Library</td>
                        {% elif item.type == "book_store" %}
                        <td><i class="tiny material-icons">book</i>&nbsp;&nbsp;Book Store</td>
                        {% elif item.type == "post_office" %}
                        <td><i class="tiny material-icons">email</i>&nbsp;&nbsp;Post Office</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                    {% if services|length == 0 %}
                    <tr>
                        <td colspan="3">There are no public services in this area.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Public Transportation</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transportation %}
                    <tr>
                        {% if item.type == "bus_station" %}
                        <td><i class="tiny material-icons">directions_bus</i> Bus Stop</td>
                        {% elif item.type == "subway_station" %}
                        <td><i class="tiny material-icons">train</i> Subway Station</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                    {% if transportation|length == 0 %}
                    <tr>
                        <td colspan="3">There are no bus stops or subway stations in this area.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Crimes and Accidents</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Time</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in crimes %}
                    <tr>
                        <td>{{ item.type }}</td>
                        <td class="timeago" title="{{ item.time }}">{{ item.time|format_date }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                    {% if crimes|length == 0 %}
                    <tr>
                        <td colspan="3">There are no recent reports of crimes in this area.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
