{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/info.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.1/scrollreveal.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col s12 m12 l6"><img class="property-img" src="https://maps.googleapis.com/maps/api/streetview?location={{ lat }},{{ lng }}&size=350x300&key={{ mapkey }}" alt="property image"></div>
        <div class="col s12 m12 l6"><iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ place_id }}&key={{ mapkey }}" allowfullscreen></iframe></div>
    </div>
    <div class="card white overview">
        <div class="card-content" style="position: relative">
            <span class="card-title">Overview</span>
            {% if overview %}
            <div class="row">
                <ul class="col s12 m12 l6">
                    <li><strong>{{ overview.address.street }}<br>{{ overview.address.city }}, {{ overview.address.state }} {{ overview.address.zipcode }}</strong></li>
                    <li><strong>{{ overview.bedrooms }} beds&ensp;-&ensp;{{ overview.bathrooms }} baths&ensp;-&ensp;{{ overview.sqft }} ft<sup>2</sup></strong></li>
                </ul>
                <ul class="col s12 m12 l6">
                    <li><strong>Zestimate<sup>&reg;</sup>:</strong>&ensp;{{ overview.zestimate|format_money }}</li>
                    <li><strong>Built:</strong>&ensp;{{ overview.built }}{% if overview.built %} ({{ current_year - overview.built }} years ago){% endif %}</li>
                    <li><strong>Last Sold:</strong>&ensp;{{ overview.lastSold }}{% if overview.lastSold %} ({{ current_year - overview.lastSold|to_year}} years ago){% endif %}</li>
                    <li></li>
                </ul>
            </div>
            <a href="{{ overview.zillow }}" target="_blank">More details on Zillow</a>
            <img src="img/zillow.png" title="Provided by Zillow" class="zillow-img" />
            {% else %}
            <p>We were not able to find any information about this building on Zillow.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white overview">
        <div class="card-content">
            <span class="card-title">Schools</span>
            {% if schools %}
                <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>School</th>
                    </tr>
                </thead>
                <tbody>
                {% for school in schools.schools %}
                <tr>
                    <td>{{ school.grade }}</td><td>{{ school.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                <p>{{ schools.testing|tojson }}</p>
            {% else %}
            <p>No schools were found in this area.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Services</span>
            {% if services|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in services|crop_list %}
                    <tr>
                        {% if item.type == "library" %}
                        <td><i class="tiny material-icons">book</i>&ensp;Public Library</td>
                        {% elif item.type == "veterinary_care" %}
                        <td><i class="tiny material-icons">pets</i>&ensp;Veterinary Care</td>
                        {% elif item.type == "post_office" %}
                        <td><i class="tiny material-icons">email</i>&ensp;Post Office</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no public services in this area.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Parks and Recreation</span>
            {% if parks|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in parks|crop_list %}
                    <tr>
                        {% if item.type == "park" %}
                        <td><i class="tiny material-icons">nature_people</i>&ensp;Park</td>
                        {% elif item.type == "zoo" %}
                        <td><i class="tiny material-icons">pets</i>&ensp;Zoo</td>
                        {% elif item.type == "campground" %}
                        <td><i class="tiny material-icons">flag</i>&ensp;Campground</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no parks in this area.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Family Entertainment</span>
            {% if entertainment|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in entertainment|crop_list %}
                    <tr>
                        {% if item.type == "amusement_park" %}
                        <td><i class="tiny material-icons">insert_emoticon</i>&ensp;Amusement Park</td>
                        {% elif item.type == "exhibit" %}
                        <td><i class="tiny material-icons">account_balance</i>&ensp;Exhibit</td>
                        {% elif item.type == "movie_theater" %}
                        <td><i class="tiny material-icons">theaters</i>&ensp;Movie Theater</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There is no family entertainment in this area.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Emergency Services</span>
            {% if emergency|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in emergency|crop_list %}
                    <tr>
                        {% if item.type == "fire_station" %}
                        <td><i class="tiny material-icons">whatshot</i>&ensp;Fire Station</td>
                        {% elif item.type == "hospital" %}
                        <td><i class="tiny material-icons">local_hospital</i>&ensp;Hospital</td>
                        {% elif item.type == "police" %}
                        <td><i class="tiny material-icons">stars</i>&ensp;Police Station</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no emergency services in this area.</p>
            {% endif %}
        </div>
    </div>


    <div class="card white">
        <div class="card-content">
            <span class="card-title">Public Transportation</span>
            {% if transportation|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transportation|crop_list %}
                    <tr>
                        {% if item.type == "bus_station" %}
                        <td><i class="tiny material-icons">directions_bus</i>&ensp;Bus Station</td>
                        {% elif item.type == "subway_station" %}
                        <td><i class="tiny material-icons">subway</i>&ensp;Subway Station</td>
                        {% elif item.type == "train_station" %}
                        <td><i class="tiny material-icons">train</i>&ensp;Train Station</td>
                        {% elif item.type == "transit_station" %}
                        <td><i class="tiny material-icons">subway</i>&ensp;Transit Station</td>
                        {% else %}
                        <td>{{ item.type|title }}</td>
                        {% endif %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no bus stops or subway stations in this area.</p>
            {% endif %}
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Crimes and Accidents</span>
            {% if crimes|length > 0 %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Time</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in crimes|crop_list %}
                    <tr>
                        <td>{% if item.car %}<i class="tiny material-icons">directions_car</i> {% endif %}{{ item.type }}</td>
                        <td class="timeago" title="{{ item.time }}">{{ item.time|format_date }}</td>
                        <td>{{ item.dist|round(1) }} mi</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There is no data about recent reports of crimes in this area.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
