{% extends "layout.html" %}

{% block content %}
    {{ super() }}
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Overview</span>
            <pre>{{ overview }}</pre>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Public Services</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in services %}
                    <tr>
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Public Transportation</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transportation %}
                    <tr>
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.dist }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Crimes and Accidents</span>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Time</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in crimes %}
                    <tr>
                        <td>{{ item.type }}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.dist }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
