<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <title>Homie</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/main.css">

        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        {% endblock %}
    </head>

    <body>
        <nav class="blue">
            <div class="navbar-wrapper">
                <a class="brand-logo center"><i class="material-icons">home</i>Homie</a>
            </div>
        </nav>
        <div id="content" class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="alert">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
